# dependencies
node_modules/
server/node_modules/

# Expo
.expo/
dist/
server/dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# environment files (protect secrets)
.env
.env.*
.env*.local
server/.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
